* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 1200px;
    font-family: "Muller", sans-serif;
    background: #E5E5E5;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */
ul {
    list-style: none;
}

.nav-list {
    display: flex;

}

.nav-list-item:not(:first-child) {
    margin-left: 45px;
}

.nav-list-button {
    margin-left: auto;
}

.nav-div {
    width: 1170px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-top: 30px;
    color: #666;
}

.logo-tel {
    font-size: 20px;
    line-height: 20px;
    font-family: 'Muller', sans-serif;
    padding-left: 40px;
    color: #666;
}

.logo-tel:hover {
    color: #c93;
}

.Accaunt {
    display: block;
    font-size: 16px;
    font-family: 'Muller', sans-serif;
    line-height: 16px;
    color: #c93;
}

.Accaunt:hover {
    color: #fccf9c;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #e1e1e1;
    padding-right: 56px;
}

.nav-link:hover {
    color: #c93;
}

.header-button {
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding-left: 80px;
}

.header {
    margin-bottom: 70px;
}

.button {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-default);
    border: 1px solid var(--color-default);
    border-radius: 10px;
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.2s;
    transition-timing-function: ease, linear;
    color: #c93;
    border: 1px solid #c93;
}

.button:active {
    transition: transform .1s linear;
    transform: scale(.9);
}

.button-reset {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.button:hover {
    background-color: #c93;
    color: white;
}

.header {
    margin-top: 20px;
}

.header-up {
    display: flex;
    align-items: center;
}

.Accaunt {
    margin-left: auto;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

/* Section-1 */

.section-1-h1 {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 55px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333;
    
}

.main-hero {
    display: flex;
    column-gap: 25px;
}

.hero-1 {
    width: 573px;
    height: 258px;
    flex-shrink: 0;
    border-radius: 15px;
    padding-left: 45px;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgba(48,64,89,.84) -2.9%, rgba(53,65,83,0) 65.7%), url(/img/hero-1.jpg);
}

.hero-3 {
    z-index: 1;
    width: 573px;
    height: 258px;
    flex-shrink: 0;
    border-radius: 15px;
    padding-left: 45px;
    margin-top: 25px;
    background: linear-gradient(90deg, rgba(48,64,89,.84) -2.9%, rgba(53,65,83,0) 65.7%), url(/img/hero-3.png);
}

.hero-2 {
    width: 573px;
    height: 540px;
    flex-shrink: 0;
    border-radius: 15px;
    padding-left: 45px;
    padding-top: 150px;
    background-size: cover;
    background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/img/hero-2.jpg);
}


@font-face {
    font-family: "Muller";
    src: local("Muller-Bold"),
        url("../fonts/MullerBold.woff2") format("woff2"),
        url("../fonts/MullerBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Medium"),
        url("../fonts/MullerMedium.woff2") format("woff2"),
        url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Light"),
        url("../fonts/MullerLight.woff2") format("woff2"),
        url("../fonts/MullerLight.woff2") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Regular"),
        url("../fonts/MullerRegular.woff2") format("woff2"),
        url("../fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.hero-h2 {
    color: #FFF;
    font-family: 'Muller';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 420px;
    height: 80px;
    padding-top: 40px;
    margin: 0;
    position: relative;
}

.hero-h3 {
    color: #FFF;
    font-family: 'Muller';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 420px;
    height: 80px;
    padding-top: 40px;
    margin: 0;
    position: relative;
}

.hero-2-h2 {
    color: #FFF;
    font-family: 'Muller';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 299px;
    height: 180px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 15px;
    position: relative;
}

.Podrobnee {
    color: #F0BF5F;
    font-family: 'Muller';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    align-items: center;
    display: flex;
    position: absolute;
}

.Podrobnee:hover .Podrobnee-1:hover {
    color: #ff7300;
    transition: transform 0.3s linear
}

.Podrobnee:hover .services-svg {
    transform: translateX(11px);
}

.Podrobnee-1:hover .services-svg {
    transform: translateX(11px);
}

.Podrobnee-1 {
    color: #F0BF5F;
    font-family: 'Muller';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    align-items: center;
    display: flex;
    position: relative;
}

.paragraph-1 {
    color: #FFF;
    font-family: 'Muller';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    padding-top: 35px;
    position: relative;
}

.paragraph {
    color: #FFF;
    font-family: 'Muller';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 47px;
    position: relative;
}

/* Section-2 */

.section-2-h2 {
    color: #333;
    font-family: 'Muller';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
    padding-left: 30px;
}

.paragraph-2 {
    font-size: 16px;
    font-family: 'Muller', sans-serif;
    line-height: 32px;
    font-weight: 400px;
    width: 888px;
    height: 252px;
}

/* Section-3 Услуги */

.section-3-h2 {
    color: #333;
    font-family: 'Muller';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
    padding-left: 30px;
}

.comp1 {
    width: 573px;
    height: 165px;
    flex-shrink: 0;
    border-radius: 0px 0px 15px 15px;
    display: block;
    background: white;
    padding-top: 26px;
    padding-left: 45px;
    padding-bottom: 35px;
}

.li-paragraph {
    color: #000;
    font-family: 'Muller';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 32px */
}

.services-link {
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #c93;
}

.services-svg {
    width: 15px;
    height: 15px;
    transition: transform 0.3s linear
}

.services-link:hover .services-svg {
    transform: translateX(11px);
}

.services-link:hover {
    color: #ffd900;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s linear 0s;
}

.comp1-image {
    background-image: url(/img/Шампанское.png);
    width: 573px;
    height: 165px;
    background-repeat: no-repeat;
}

.comp2-image {
    background-image: url(/img/15.png);
    width: 573px;
    height: 165px;
    background-repeat: no-repeat;
}

.comp3-image {
    background-image: url(/img/12.png);
    width: 573px;
    height: 165px;
    background-repeat: no-repeat;
}

.comp4-image {
    background-image: url(/img/13.png);
    width: 573px;
    height: 165px;
    background-repeat: no-repeat;
}

.comp {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}

/* Section-4 | Преимущества */

.section-title {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 55px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-4-container {
    margin-top: 70px;
}

.advantages-text {
    font-size: 16px;
    font-family: 'Muller', sans-serif;
    line-height: 32px;
}

.advantages-list {
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.advantages-item {
    position: relative;
    width: 275px;
    height: 275px;
    margin-bottom: 23px;
    padding-top: 116px;
    padding-left: 45px;
    padding-right: 42px;
    padding-bottom: 41px;
    background-color: white;
    border-radius: 15px;
}

.advantages-item:not(:last-child) {
    margin-right: 0;
}

.advantages-item:nth-child(3n) {
    margin-right: 0;
}



.advantages-img {
    position: absolute;
    left: 45px;
    top: 40px;
    width: 66px;
    height: 66px;
    background-size: contain;
    background-repeat: no-repeat;
}

.advantages-img1 {
    background-image: url(/img/advantages1.svg);
}

.advantages-img2 {
    background-image: url(/img/advantages2.svg);
}

.advantages-img3 {
    background-image: url(/img/advantages3.svg);
}

.advantages-img4 {
    background-image: url(/img/advantages4.svg);
}

.advantages-img5 {
    background-image: url(/img/advantages5.svg);
}

.advantages-img6 {
    background-image: url(/img/advantages6.svg);
}

.advantages-img7 {
    background-image: url(/img/advantages7.svg);
}

.advantages-img8 {
    background-image: url(/img/advantages8.svg);
}



/* Section-5 Размещение */

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin-top: 50px;
    list-style: none;
}

.placement-item {
    width: 374px;
    background-color: white;
    height: 440px;
    border-radius: 15px;
    flex-shrink: 0;
    background-repeat: no-repeat;
}

.section-placement-title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-black);
}

.section-placement-button {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 16px;
    color: #c93;
    border: 1px solid #c93;
    border-radius: 10px;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, linear;
    background: transparent;
    cursor: pointer;
}

.section-placement-button:hover {
    background-color: #c93;
    color: white;
}

.ot {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.placing-text-place {
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.placement-price-stars {
    padding-left: 45px;
    padding-top: 10px;
}

.price {
    display: inline-block;
    align-items: center;
    column-gap: 4px;
}

.stars {
    padding-left: 52px;
}

.price-strong {
    color: #000;
    font-family: 'Muller';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-5-container {
    width: 1210px !important;
}

.placement-item-options {
    position: relative;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    width: 374px;
    background-color: white;
    height: 440px;
    border-radius: 15px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    padding-bottom: 27px;
    background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/img/41.png);
    outline: 1px solid var(--color-default);
    outline-offset: 5px;
}

.others-options {
    font-size: 20px;
    font-family: 'Muller', sans-serif;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
}

.others-options::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hover-link {
    justify-content: flex-end;
    align-items: center;
}

.hover-link:hover .services-svg {
    transform: translateX(11px);
    color: #c93;
    cursor: pointer;
}

.others-options:hover {
    color: #c93;
    cursor: pointer;
    z-index: 1;
}

.services-svg {
    width: 15px;
    height: 15px;
    transition: transform 0.3s linear;
}

.price {
    display: flex;
}

/* Section-6 Хочу Тур */

.section-6-container {
    margin-top: 40px;
    width: 1170px;
    height: 256px;
    border: 1px;
    background-color: #E9E9E9;
}

.Tur-h2 {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 55px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding-top: 38px;
    color: black;
    background-color: #E9E9E9;
}

.form {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 70px;
    background-color: #E9E9E9;
}

.form-content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    padding: 28px;
    background-color: white;
    border-radius: 15px;
}

.form-fieldset {
    margin-right: 20px;
    margin-left: 0;
    padding-top: 15px;
    padding-right: 20px;
    border: none;
    border-right: 1px solid #E1E1E1;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.form-select {
    max-width: 190px;
}

.form-title {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-black);
}

.form-input {
    width: 140px;
    height: 17px;
    padding: 0px 0px 0px 1px;
}

.form-all {
    border: none;
}

.form-select {
    max-width: 170px;
}

.form-input {
    border-bottom: 1px solid #CCCCCC;
    width: 90px;
}

.form-input-date {
    width: 140px;
}

.button-block {
    width: 108px;
    height: 42px;
    border: 1px solid #c93;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Muller', sans-serif;
    color: #c93;
}

.button-block:hover {
    background-color: #c93;
    color: white;
    cursor: pointer;
}

/* Section-7 Контакты */

.contacts-content {
    background-color: white;
    justify-content: space-between;
    border-radius: 15px;
    padding: 45px;
    height: 618px;
    margin-bottom: 20px;
}

.address {
    width: 35%;
    font-style: normal;
}

.contacts-item {
    justify-content: space-between;
    margin-bottom: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid #c4c4c4;

}

.contacts-item-title {
    width: 145px;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: black;
}

.contacts-list {
    height: 411px;
}

.contacts-item-content {
    width: 230px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts-link {
    color: #c93;
}

.contacts-button {
    margin-top: 40px;
    padding: 27px 29px;
    border: 1px solid #c93;
}

/* Section-8 Footer */

.container-footer {
    justify-content: space-between;
    padding: 51px;
    padding-bottom: 45px;
    background-color: #333;
    border-radius: 15px;
    height: 369px;
}

.container-footer-img {
    background-image: url(/img/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: top 142px left 738px;
}

.footer-right-list {
    flex-direction: column;
    align-items: flex-end;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-right-item {
    margin-bottom: 20px;
}

.footer-left {
    max-width: 320px;
    margin-right: 102px;
    height: 273.95px;
}

.footer-descr {
    width: 300;
    margin: 0;
    margin-bottom: 49px;
    font-family: "Muller", sans-serif;
    font-size: 16px;
    color: white;
    line-height: 190%;
}

.footer-left-link {
    color: #c93;
}

.footer-center {
    width: 357px;
    margin-right: 283px;
    flex-direction: column;
}

.footer-center-desr {
    display: block;
    width: 357.17px;
    font-size: 16px;
    font-family: "Muller", sans-serif;
    margin-bottom: 14px;
    color: white;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
}

.footer-center-link {
    font-family: "Muller", sans-serif;
    font-size: 16px;
    color: #c93;
    line-height: 150%;
}

.footer-center-item {
    flex-direction: column;
    font-style: normal;
}

.footer-center-link:hover {
    color: #F0BF5F;
}

.footer-left-link:hover {
    color: #F0BF5F;
}

.footer-right-link {
    display: block;
    width: 25px;
    height: 25px;
}

svg:hover path {
    fill: #c93;
}