body {
    background-color: #F1F1F1;;
}
.header {
    margin-top: 20px;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.section-1-h1 {
    display: inline-block;
}

.nav {
    display: flex;
}

.comp1 {
    width: 573px;
    height: 165px;
    flex-shrink: 0;
    border-radius: 0px 0px 15px 15px;
    display: block;
    background: white;
}

.comp1-image {
    background-image: url(/img/Шампанское.png);
    width: 573px;
    height: 165px;
    background-repeat: no-repeat;
}

.comp {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}

ul {
    list-style: none;
}

.nav-list {
    display: flex;
}

.nav-list-item:not(:first-child){
    margin-left: 45px;
}

.nav-list-button {
    margin-left: auto;
}

.nav {
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-top: 16px;
}