* {
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;;
}
.header {
    margin-top: 20px;
}

.header-up {
    display: flex;
    align-items: center;
}

.Accaunt {
    margin-left: auto;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.section-1-h1 {
    display: inline-block;
    color: #333;
    font-family: 'Muller';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-hero {
    display: flex;
    column-gap: 25px;
}

/* .main-h {

} */

.hero-1 {
    width: 573px;
    height: 258px;
    flex-shrink: 0;
    border-radius: 15px;
    padding-left: 45px;
    background-image: url(/img/hero-1.jpg);
}

.hero-3 {
    width: 573px;
    height: 258px;
    flex-shrink: 0;
    border-radius: 15px;
    padding-left: 45px;
    background-image: url(/img/hero-3.png);
    margin-top: 25px;
}

.hero-2 {
    width: 573px;
    height: 540px;
    flex-shrink: 0;
    border-radius: 15px;
    padding-left: 45px;
    padding-top: 150px;
    background-image: url(/img/hero-2.jpg);
}

@font-face {
    font-family: 'Muller';
    src: url(/fonts/MullerRegularItalic.eot);
}

.hero-h2 {
    color: #FFF;
    font-family: 'Muller';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 420px;
    height: 80px;
    padding-top: 40px;
    margin: 0;
}

.hero-2-h2 {
    color: #FFF;
    font-family: 'Muller';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 299px;
    height: 180px;
}

.Podrobnee {
    color: #F0BF5F;
    font-family: 'Muller';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.Podrobnee-1 {
    color: #F0BF5F;
    font-family: 'Muller';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-top: 50px;
}

.paragraph-1 {
    color: #FFF;
    font-family: 'Muller';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    padding-top: 35px;
}

.paragraph {
    color: #FFF;
    font-family: 'Muller';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.comp1 {
    width: 573px;
    height: 165px;
    flex-shrink: 0;
    border-radius: 0px 0px 15px 15px;
    display: block;
    background: white;
}

.comp1-image {
    background-image: url(/img/Шампанское.png);
    width: 573px;
    height: 165px;
    background-repeat: no-repeat;
}

.comp {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}

ul {
    list-style: none;
}

.nav-list {
    display: flex;
}

.nav-list-item:not(:first-child){
    margin-left: 45px;
}

.nav-list-button {
    margin-left: auto;
}

.nav-div {
    width: 1170px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #FFF;
}

.nav {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-top: 16px;
}

.header-button {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.button {
    display: block;
}

.cards-up {
    display: flex;
    gap: 22px;
}

.cards-down {
    display: flex;
    gap: 24px 24px;
}

.section-4-container {
    margin-top: 70px;
}

/* .placement-card {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
} */

.cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin-top: 50px;
}

.placement-item {
    width: 374px;
    background-color: white;
    height: 440px;
    border-radius: 15px;
}

.section-5-container {
    margin-top: 70px;
    width: 1210px !important;

}

.price {
    display: flex;
}

